.Stats {
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 30px 50px;
  height: 151px;
  min-width: 968px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}
