.Thead {
  height: 35px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #b5b7c0;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -38px;
    width: calc(100% + 44px + 38px);
    height: 1px;
    background-color: #eee;
  }
}